@import '../../styles/vars';

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  border-radius: 10px;
  border:0;
  padding: 20px 40px;
  color: $color-text-white;
  font-weight: 500;
  font-size: 16px;

  &:hover{

    background-image: linear-gradient(145deg, #ee82ee, slateblue, #ffd86a, purple);
    cursor: pointer;
    .btn-arrow-right{
      transform: translateX(5px);
    }

    .btn-arrow-left{
      transform: translateX(-5px);
    }
  }

  &-arrow-right{
    margin-left: 20px;
  }
  &-arrow-left{
    margin-right: 20px;
  }
}
