body {
  background: green;
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  font-family: "Inter", sans-serif;
}

.wrapper {
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  max-width: 95%;
  margin: 50px auto;
}
.wrapper header {
  border-bottom: 1px solid #eaeaea;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.wrapper header .header-left-block {
  display: flex;
  padding: 0;
}
.wrapper header .header-left-block .header-information .header-logo-text {
  opacity: 0.5;
}
.wrapper header .header-left-block img {
  margin-right: 15px;
}
.wrapper header .header-left-block h3,
.wrapper header .header-left-block p {
  text-transform: uppercase;
  margin: 0;
}
.wrapper header ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.wrapper header ul li {
  list-style-type: none;
}
.wrapper header .header-right-block {
  display: flex;
}
.wrapper header .header-right-block li {
  margin-right: 40px;
}
.wrapper .content {
  padding: 40px;
}
.wrapper .content .presents {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .content .content-header {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}
.wrapper .content .content-header .content-title {
  margin: 0 auto;
  font-weight: 5000;
}
.wrapper .content .content-header .search-block {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  background: white;
  border-radius: 10px;
  padding: 0 15px;
}
.wrapper .content .content-header .search-block input {
  border: 0;
  padding: 13px;
  font-size: 16px;
}
.wrapper .card {
  border: 3px solid #F8F8F8;
  padding: 20px 0 20px 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  width: 370px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.wrapper .card:hover {
  box-shadow: 0 14px 30px rgb(0, 0, 0);
  transform: translateY(-5px);
}
.wrapper .card .favorite {
  position: absolute;
  cursor: pointer;
}
.wrapper .card .favorite img {
  position: relative;
  left: 20px;
  top: 20px;
}
.wrapper .card .favorite img:hover {
  background: violet;
}
.wrapper .card span {
  font-size: 13px;
  opacity: 0.5;
  text-transform: uppercase;
}
.wrapper .card b {
  font-size: 13px;
}
.wrapper .card h5 {
  font-weight: 400;
  font-size: 14px;
}
.wrapper .card .card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90%;
}
.wrapper .card .card-info .card-info-price {
  display: flex;
  flex-direction: column;
}
.right-side-impose {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}
.right-side-impose .right-side {
  position: absolute;
  width: 470px;
  height: 100%;
  right: 35px;
  background: #45CB53;
  padding: 30px;
  display: flex;
  flex-direction: column;
  z-index: 99;
  border-radius: 20px;
}
.right-side-impose .right-side .cart-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.right-side-impose .right-side h2 {
  margin: 0;
  font-size: 24px;
}
.right-side-impose .right-side .cartItem {
  margin-bottom: 30px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  border: 1px solid rgba(243, 243, 243, 0.9529411765);
  background: rgba(248, 248, 248, 0.9725490196);
  border-radius: 20px;
  overflow: hidden;
}
.right-side-impose .right-side .cartItem img {
  border-radius: 30px;
  margin: 10px 10px 10px 10px;
}
.right-side-impose .right-side .cartItem .removeBtn {
  margin-right: 20px;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
}
.right-side-impose .right-side .cartItem .removeBtn:hover {
  opacity: 1;
}
.right-side-impose .right-side .cartItem .cartItem-info {
  margin-right: 20px;
}
.right-side-impose .right-side .cartItem .cartItem-info p {
  margin-bottom: 5px;
  font-size: 16px;
}
.right-side-impose .right-side .cartItem .cartItem-info b {
  font-size: 14px;
}
.right-side-impose .right-side .total {
  display: flex;
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
}
.right-side-impose .right-side .total li {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.right-side-impose .right-side button {
  background: #43C950;
  width: 100%;
  height: 55px;
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 600;
  transition: background 0.2s ease-in-out;
}
.right-side-impose .right-side button:hover {
  background: #a9da6c;
}
.right-side-impose .right-side button:active {
  background: #91d044;
}
.right-side-impose .right-side .items {
  overflow: auto;
}

/*# sourceMappingURL=index.css.map */
